entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "unicorn-emu"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "src/main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true
